{{define "title"}}
  <title>{{.Title}}</title>
{{end}}
  {{define "content"}}
  <div class="container-fluid mx-3 my-3 py-4">
    <div class="mx-auto w-50 bg-light">
      <div>
       <header>
        <h1 class="text-center"><strong>Welcome to the Enrollment System Home Page</strong></h1>
        <p>hello der maprend hawaryu, howp yor duweng wel</p>
        <ul>Here are the following pages you can access.
          <li><a href="/system/home">Home page</a></li>
          <li><a href="/system/enroll">Enrollment System</a></li>
          <li><a href="/system/test">Test Page</a></li>
          <li><a href="/system/checker">Student Checker</a></li>
          <!-- <li></li> -->
        </ul>
      </header> 
      </div>

    </div>
  </div>
{{end}}
